<article
  class="pokemon-card"
  (click)="toggleDetalle()">

  <img
    class="pokemon-card__image"
    [src]="pokemon.image"
    [alt]="pokemon.name">

  <h2 class="pokemon-card__name">
    {{ pokemon.name | titlecase }}
  </h2>

  <p class="pokemon-card__type">
    {{ pokemon.types[0] | titlecase }}
  </p>

  <div
    class="pokemon-card__details"
    *ngIf="mostrarDetalle">

    <div class="pokemon-card__divider"></div>

    <p>
      <strong>Height:</strong>
      {{ pokemon.height }}
    </p>

    <p>
      <strong>Weight:</strong>
      {{ pokemon.weight }}
    </p>

    <p>
      <strong>Base experience:</strong>
      {{ pokemon.baseExperience }}
    </p>

    <p>
      <strong>Types:</strong>
      {{ pokemon.types.join(', ') }}
    </p>

    <p>
      <strong>Abilities:</strong>
      {{ pokemon.abilities.join(', ') }}
    </p>

  </div>

  <span class="pokemon-card__id">
    #{{ pokemon.id }}
  </span>

</article>